<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="upper">
                <image src="@Url.Content("~/Content/image/logo.jpg")" alt="logo" style="width:100%;height:160px;" />
            </div>
            <div class="lower">
                <ul>
                    <li>Trang chủ</li>
                    <li>#</li>
                    <li>#</li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div class="left">
                <div class="heading">
                    <h1>Các chức năng</h1>
                </div>
                <ul>
                    <li><a href="@Url.Action("Index","Students")">Thống kê sinh viên</a></li>
                    <li>@Html.ActionLink("Tìm kiếm sinh viên", "TimKiem", "Home")</li>
                </ul>
            </div>
            <div class="right">
                <div class="panel-header">
                    <h1>@ViewBag.Tile</h1>
                </div>
                <div>
                    @RenderBody()
                </div>

            </div>
        </div>
        <div class="footer">
            <p>Copytight &copy; @DateTime.Now.Year, Trường Đại học Đà Lạt.</p>
            <p>Địa chỉ: 01 Phù Đổng Thiên Vương, Đà Lạt, Lâm Đồng.</p>
        </div>
    </div>
</body>
</html>
